<h3 style="color: darkolivegreen;">Welcome {{emailId}}!</h3>

<h1 style="color: blue;" align="center">Products</h1> <br />

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card" style="margin: auto;">
        <img class="card-img-top" src="{{product.imgsrc}}" alt="Card image" style="width:100%" height="300px">
        <div class="card-body">
          <h4 class="card-title"><b>{{product.name}}</b></h4>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><b>Price: ₹{{product.price}}/- </b></p>
          <p align="right">
            <button (click)="addToCart(product)" class="btn btn-primary stretched-link">AddToCart</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>